.scroll-body-200 {
    overflow: auto;
    height: 200px;
}

.selected, 
.selected:hover,
.selected h4, 
.selected p {
    color: #ffffff!important;
    background-color: #428bca!important;
    border-color: #428bca!important;
}